[submodule "JSQMessagesViewController"]
	path = JSQMessagesViewController
	url = git@github.com:katfang/JSQMessagesViewController.git
[submodule "JSQSystemSoundPlayer"]
	path = JSQSystemSoundPlayer
	url = git@github.com:katfang/JSQSystemSoundPlayer.git
